/* For input fields */

.form-row {
    padding: 10px 0;
    display: flex;
}

.form-row .label {
    padding-right: 10px;
}

.form-row-input {
    flex: 1;
}

/* Item -2 */

.item-2-container {
    max-width: 1300px;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    line-height: 1.65;
    display: flex;
}

.sidebar-one {
    flex: 1;
    order: 1;
}

.sidebar-two {
    flex: 1;
    order: 3;
}

.main-column {
    flex: 3;
    order: 2;
}

/*Arranging in 3 columns: all three columns have same heights */

.item-3-container-1 {
    max-width: 1300px;
    margin: 40px auto 0 auto;
    display: flex;
}

.features-1 {
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    flex: 1;
}

.features-1:last-child {
    margin-right: 0;
}

.features-1:nth-child(1) {
    background-color: aqua;
}

.features-1:nth-child(2) {
    background-color: bisque;
}

.features-1:nth-child(3) {
    background-color: blueviolet;
}

/* Arranging in 3 columns: all three columns shrink to their own sizes */

.item-3-container-2 {
    max-width: 800px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* align-items: flex-end; 
    align-items: center;*/
}

.features-2 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* flex: 1; */
    flex-basis: 30%;
}

.features-2:nth-child(1) {
    background-color: aqua;
}

.features-2:nth-child(2) {
    background-color: bisque;
}

.features-2:nth-child(3) {
    background-color: blueviolet;
}

/* Arranging in 3 columns: all three columns shrink to their own sizes - for smaller screens using media query */

.item-3-container-3 {
    max-width: 800px;
    margin: 40px auto 0 auto;
    /* align-items: flex-end; 
    align-items: center;*/
}

.features-3 {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* flex: 1; */
    flex-basis: 30%;
}

.features-3:nth-child(1) {
    background-color: aqua;
}

.features-3:nth-child(2) {
    background-color: bisque;
}

.features-3:nth-child(3) {
    background-color: blueviolet;
}

@media (min-width: 800px) {
    .item-3-container-3 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

/* Centering an object */

.item-4-container {
    height: 400px;
    max-width: 600px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
}

.center-me {
    font-size: 50px;
    color: #ffffff;
    margin: auto;
}

/* Item 5: Adding a column and a row */

.item-5-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
}

.first {
    background-color: #ffffff;
    padding: 20px;
    flex:1;
}

.second {
    background-color: yellow;
    flex:1;
    flex-direction: column;
    display: flex;
}

.second-a {
    background-color: burlywood;
    flex: 1;
}

.second-b {
    background-color: aqua;
    flex: 1;
}