#section-1,
#section-2,
#section-3,
#section-4 {
    position: absolute;
    background-image: -moz-radial-gradient(30px 30px, #FFF, #FFF);
    width: 200px;
    height: 200px;
    border: 1px solid black;
    top: 40px;
    overflow-y: auto;
}

#section-1 {
    left: 10px
}

#section-2 {
    left: 220px
}

#section-3 {
    left: 430px
}

#proceed {
    position: absolute;
    width: 100px;
    top: 250px;
    left: 530px;
}

#messages {
    position: absolute;
    width: 630px;
    height: 200px;
    top: 280px;
    left: 10px;
    overflow: auto;
}