#WorkArea, #Messages {
    position: absolute;
    background-image: -moz-radial-gradient(30px 30px, #FFF, #EEF);
    border: 1px solid black;
    width: 300px;
    height: 400px;
    top: 40px;
    overflow-y: auto;
    padding: 5px;
}

#WorkArea {
    left: 10px;
}
#Messages {
    left: 330px;
}
.clickable {
    cursor: pointer;
}
.highlight {
    background-color: yellow;
}
h5 {
    margin: -3px 0 -3px 0;
}